extends layout

block content
    div(class='container')
        br
        h3= 'Points for ' + last_user
        //img(src=image_url, class='img-responsive')
        br
        br
        h1= 'Scan card for credit'
        form(action='', method='post')
            input(type='text', id='scan', name='scan')
            br
            input(type='submit', values='submit')
